#adoor_logo {
    cursor: pointer;
}

#alarm-on-off {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgba(244, 132, 98, 0.15);
    color: rgba(244, 132, 98, 1);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    border: rgba(244, 132, 98, 1);
}